*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    border: red 3px solid;
}

body input:required:valid,
body textarea:required:valid {
    border: green 3px solid;
}

body {
    background:#BBDBFF;
    margin:0;
    padding:0;
    font-family: Trebuchet MS,Geneva,sans-serif;
    font-size: 13px;
    color: #444;
}

* {
    margin:0;
    padding:0;
}

p {
    line-height: 1.5em;
    margin-bottom: 20px;
}

a {
    color: #357FD6;
}

a:hover {
    color: #000;
}

a:focus {
    outline: none;
}
/*
h1 {
    color: #59ABFD;
    font-weight: normal;
    font-size: 40px;
}
*/
h1 {
    color: #59ABFD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: normal;
    padding: 0 0 5px;
    margin: 0;
}

h2 {
    color: #59ABFD;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 {
    padding-bottom: 10px;
    font-size: 15px;
    color: #999;
}

h4 {
    padding-bottom: 10px;
    font-size: 13px;
    color: #999;
}

ul, ol {
    margin: 0 0 35px 35px;

}

li {
    padding-bottom: 10px;
}

li ol, li ul {
    font-size: 1.0em;
    margin-bottom: 0;
    padding-top: 5px;
}


img {
    width: 33%;

}

.main_img {
    width: 100%;
}


/*----------- Header -----------------*/

.site_name,.lang_icon {
    display: inline-block;
}
.lang_icon {
    padding-top: 15px;
    text-align: right;
}
.search,.log {
    text-align: right;
}

.site_name p, .log p{
    margin-bottom: 0;
}

.log p{
    margin-bottom: 5px;
    padding-top: 0;
}



p a.text_site_name {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #59ABFD;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
}

header div p {
    padding-top: 15px;
    padding-left: 15px;
}
div a img {
    width: 16px;
}

.bread_crumbs{
    font-size: 15px;
}

/*-----------End Header -----------------*/

/*----------- Body -----------------*/




.sidebar {

    padding-top: 15px;

    float: left;
}

.sidebar_inner {
    -moz-border-radius:17px;
    background-color:#E8F3FF;
    padding:15px;
    margin-bottom:20px;

}
.sidebar_inner div p {
    margin-bottom: 0px;

}
.sidebar_inner div h3 {
    margin-top: 15px;
    padding-bottom: 5px;
}
/*
.sidebar ul {
    padding: 0;
    margin:10px 0 35px 35px;
}

.sidebar li ul li {
    display: block;
    border-top: none;
    padding: 6px 7px;
    margin: 0;
    line-height: 1.5em;
    font-size: 13px;
    color: #555;
}

.sidebar li ul li a {
    font-weight: normal;
    color: #555;
}

.sidebar li ul li a:hover {
    color: #59ABFD;
}

.sidebar h4 {
    color: #59ABFD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 5px;
    font-weight: bold;
}

.news-item {
    padding-bottom:10px;
    padding-top:10px;
}
.latest-news a {
    font-weight:bold;
}
.date {
    color:#000;
    font-weight:bold;
}
*/












.main_div {
    background-color: #ffffff;
 /*   opacity: 0.5;*/

}